.extra-small {
    font-size: 0.75rem;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.list-group-item {
    border-left: 3px solid transparent;
}

.list-group-item:hover {
    background-color: #4a0050;
    border-left: 3px solid #dc3545;
}